/*----------------------------------------------------
    google font link start here
-----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&family=Zen+Dots&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/*google font link ends here
-----------------------------------------------------*/
/*
    variable declaration starts here
*/
:root {
  --clr-primary: #38e6ef;
  --clr-1: #090e0e;
  --clr-2: #e0dad4;
  --clr-3: #fba00b;
  --clr-4: #27dce5;
  --clr-5: #6f7771;
  --clr-6: #9c3b39;
  --clr-7: #64c6b2;
  --clr-sec: #fba00b;
  --text-clr: #e5e5e5;
  --white: #ffffff;
  --body-clr: #141414;
  --parentSpace: 30px 30px 0 30px;
  /*========== Font and typography ==========*/
  --Readex: "Readex Pro", sans-serif;
  --zent: "Zen Dots", cursive;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-width: 400px;
  /*========== Font weight ==========*/
  --thin: 300;
  --regular: 400;
}

/*
    variable declaration ends here
*/
/* Responsive typography */
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
.title {
  line-height: 1;
  font-size: var(--biggest-font-size);
  font-family: var(--zent);
}

.head {
  background-color: rgba(251, 159, 11, 0.3019607843);
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: var(--zent);
  font-size: var(--small-font-size);
  text-transform: capitalize;
}

.btn {
  background-color: #e5e5e5;
  text-transform: capitalize;
  font-family: var(--zent);
  position: relative;
  font-size: var(--small-font-size);
}

h1,
h2,
h3,
p {
  max-width: 600px;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: var(--Readex);
  font-weight: var(--thin);
  position: relative;
  line-height: 1.3;
  color: var(--white);
  background-color: var(--body-clr);
  width: 100%;
  overflow-x: hidden;
  background: url(../images/arc.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  overflow-x: hidden;
}

.loading {
  height: 100vh;
  width: 100%;
  background-color: red;
  background: rgb(0, 16, 26);
  z-index: 10000000;
  position: fixed;
  display: grid;
  place-items: center;
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.loading .inner-loading {
  width: 4rem;
  height: 4rem;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: #fba00b;
  animation: spinner 1s linear infinite;
}

.mobile-head {
  width: 100%;
  background: rgb(0, 16, 26);
  position: fixed;
  top: 0;
  z-index: 100000;
  display: flex;
  place-items: center;
}
.mobile-head .inner-mobile {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.mobile-head .inner-mobile img {
  width: 4rem;
}
.mobile-head .inner-mobile i {
  font-size: var(--biggest-font-size);
  color: var(--clr-3);
  transition: all 0.3s linear;
}
.mobile-head .inner-mobile i:hover {
  transform: scale(1.3);
}

.mobile-nav {
  height: 100vh;
  width: 200px;
  background: rgb(0, 16, 26);
  position: fixed;
  z-index: 1000000;
  right: -100%;
  display: flex;
  place-items: center;
  transition: all 1s linear;
}
.mobile-nav .close-nav {
  font-size: var(--biggest-font-size);
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.3s linear;
}
.mobile-nav .close-nav:hover {
  color: red;
}
.mobile-nav .nav-ul {
  width: 100%;
  height: 80%;
  display: grid;
  place-items: center;
}
.mobile-nav .nav-ul ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 10px;
}
.mobile-nav .nav-ul ul li {
  font-size: var(--h2-font-size);
  font-family: var(--zent);
  text-transform: capitalize;
  transition: all 0.3s linear;
}
.mobile-nav .nav-ul ul li:hover {
  color: #fba00b;
}
.mobile-nav .nav-ul .social-icon {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  margin: 0 auto;
}
.mobile-nav .nav-ul .social-icon a {
  transition: all 0.3s linear;
  font-size: var(--biggest-font-size);
}
.mobile-nav .nav-ul .social-icon a:hover {
  transform: scale(1.2);
  color: #fba00b;
}

@media (min-width: 800px) {
  .mobile-head {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .large-head {
    display: none;
  }
}
.large-head {
  width: 100%;
  position: fixed;
  background: rgb(0, 16, 26);
  top: 0;
  z-index: 1000000;
}
.large-head .inner-nav {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.large-head .inner-nav .back-home {
  display: flex;
  place-items: center;
  font-family: var(--zent);
  text-transform: uppercase;
  gap: 10px;
  font-size: var(--h2-font-size);
}
.large-head .inner-nav .back-home span {
  color: #fba00b;
}
.large-head .inner-nav .navlink {
  height: 100%;
  display: flex;
  place-items: center;
  min-width: 70%;
}
.large-head .inner-nav .navlink ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.large-head .inner-nav .navlink ul li {
  text-transform: capitalize;
  font-family: var(--zent);
  transition: all 0.3s linear;
}
.large-head .inner-nav .navlink ul .li-txt:hover {
  color: #fba00b;
}
.large-head .inner-nav .navlink ul .li-btn:hover > a.btn {
  background-color: transparent !important;
  border: 1px groove #fba00b;
}
.large-head .inner-nav .navlink ul li > a.btn {
  transition: all 0.3s linear;
  background-color: #fba00b;
}
.large-head .inner-nav .navlink ul i {
  font-size: var(--h2-font-size);
}

main {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin: 0 auto;
}
main #home {
  width: 100%;
  padding: var(--parentSpace);
  display: flex;
  place-items: center;
}
main #home .row {
  justify-content: space-between;
}
main #home .row div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
main #home .row div .title span {
  color: #fba00b;
}
main #home .row div .btn {
  text-transform: capitalize;
  font-family: var(--zent);
  position: relative;
  font-size: var(--small-font-size);
}
main #home .row div .btn:hover {
  border: 1px solid #fba00b;
}
main #home .row div .home-img {
  max: 500px;
}
main #about {
  width: 100%;
  display: flex;
  place-items: center;
}
main #about .row {
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
main #about .row .btn:hover {
  border: 1px solid #fba00b;
}
@media screen and (max-width: 800px) {
  main #about .row .about-row-img {
    order: 2;
  }
}
main #about .row .about-img {
  width: 25rem;
  margin: 0 auto;
}
main #about .row p {
  max-width: 40rem;
}
main #benefit {
  width: 100%;
  padding: var(--parentSpace);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
main #benefit .head {
  text-align: center;
  margin: 0 auto;
}
main #benefit .title {
  text-transform: capitalize;
  text-align: center;
  font-size: var(--h1-font-size);
  margin: 0 auto;
}
main #benefit .title span {
  color: #fba00b;
}
main #benefit .info {
  margin: 0 auto;
  text-align: center;
}
main #benefit .row {
  width: 100%;
  place-items: center;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 2rem;
  row-gap: 60px;
}
main #benefit .row div {
  background-color: rgb(0, 16, 26);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 5px;
  border-bottom: 0;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  filter: drop-shadow(1px 0px 2px);
  margin: 0 auto;
}
main #benefit .row div h4 {
  font-family: var(--zent);
  font-size: var(--small-font-size);
  text-transform: capitalize;
}
main #buy {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 20px 0;
}
main #buy iframe {
  max-width: 95%;
}
main #token-info {
  width: 100%;
  padding: var(--parentSpace);
}
main #token-info .head {
  margin-inline: auto;
  text-align: center;
  margin-bottom: 2rem;
}
main #token-info .token-details {
  width: 100%;
  background-color: #141414;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}
main #token-info .token-details .token-m {
  display: flex;
}
@media screen and (min-width: 500px) {
  main #token-info .token-details {
    max-width: 600px;
  }
}

footer {
  width: 100%;
  padding: var(--parentSpace);
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 20px;
}
@media (min-width: 600px) {
  footer {
    justify-content: space-between;
  }
}
footer .logo-div {
  display: flex;
  place-items: center;
  gap: 20px;
}
footer .logo-div h4 {
  font-size: var(--small-font-size);
  font-family: var(--zent);
  text-transform: uppercase;
}
footer .logo-div h4 span {
  color: #fba00b;
}
footer .cp {
  font-size: var(--small-font-size);
  text-transform: capitalize;
}
footer .social-icon {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .social-icon a {
  font-size: var(--h2-font-size);
  transition: all 0.3s linear;
}
footer .social-icon a:hover {
  color: #fba00b;
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */